<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">

	<!-- Note the order is important - updateInProgressFilter should go first since it can be used without login -->
	<filter>
		<filter-name>updateInProgressFilter</filter-name>
		<filter-class>com.bright.assetbank.application.filter.UpdateInProgressFilter</filter-class>
	</filter>
	
	<filter>
		<filter-name>staticResourceFilter</filter-name>
		<filter-class>com.bright.assetbank.application.filter.StaticResourceFilter</filter-class>
	</filter>
	
	<filter>
		<filter-name>autoLoginFilter</filter-name>
		<filter-class>com.bright.assetbank.application.filter.AutomaticLoginFilter</filter-class>
	</filter>
	
	<filter>
		<filter-name>initProfileFilter</filter-name>
		<filter-class>com.bright.assetbank.application.filter.InitialiseProfileFilter</filter-class>
	</filter>
	
	<filter>
		<filter-name>authenticationFilter</filter-name>
		<filter-class>com.bright.assetbank.application.filter.AuthenticationFilter</filter-class>
	</filter>
	
	<!-- Call languageExtractionFilter before ssoAuthenticationFilter so that the user can be saved with the correct language -->
	<filter>
		<filter-name>languageExtractionFilter</filter-name>
		<filter-class>com.bright.assetbank.language.filter.LanguageSelectionFilter</filter-class>
	</filter>
	
	<filter>
		<filter-name>ssoAuthenticationFilter</filter-name>
		<filter-class>com.bright.assetbank.application.filter.SSOAuthenticationFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>updateInProgressFilter</filter-name>
		<servlet-name>application</servlet-name>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>staticResourceFilter</filter-name>
		<servlet-name>application</servlet-name>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>autoLoginFilter</filter-name>
		<servlet-name>application</servlet-name>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>initProfileFilter</filter-name>
		<servlet-name>application</servlet-name>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>authenticationFilter</filter-name>
		<servlet-name>application</servlet-name>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>ssoAuthenticationFilter</filter-name>
		<servlet-name>application</servlet-name>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>languageExtractionFilter</filter-name>
		<servlet-name>application</servlet-name>
	</filter-mapping>

	<listener>
		<listener-class>
			com.bright.assetbank.application.listener.ABServletContextListener
		</listener-class>
	</listener>
	
	<!-- axis listener -->
	<listener>
		<listener-class>
			org.apache.axis.transport.http.AxisHTTPSessionListener
		</listener-class>
	</listener>
	
	<listener>
		<listener-class>
			com.bright.assetbank.application.service.AssetLogManager
		</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>application</servlet-name>
		<servlet-class>
			com.bright.assetbank.application.servlet.ApplicationActionServlet
		</servlet-class>

		<!-- Settings used by the framework: -->
		<init-param>
			<param-name>componentmanagerconfig</param-name>
			<param-value>/WEB-INF/components.xconf</param-value>
		</init-param>  
		<init-param>
			<param-name>settingspropertyfile</param-name>
			<param-value>ApplicationSettings</param-value>
		</init-param>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>validating</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>noStoreGetActions</param-name>
			<param-value>
				downloadAssetBox,
				downloadAssetBoxFile,
				downloadFile,
				downloadVideo,
				downloadSharedAsset,
				compressDownload,
				viewDownloadAssetBox,
				viewDownloadAssetsProgress,
				relateAssets,
				switchAssetBox,
				viewAddAssetboxUsersEmailPreview,
				viewLanguage,
				viewAssetUsage,
				changeSelectedFilter,
				generateCatJS.js,
				viewFullSizedImage,
				viewHelp,
				viewKeywordAdminPopup,
				viewAddKeywordPopup,
				addKeywordPopup,
				quickAddKeywordPopup,
				deleteKeywordPopup,
				viewUpdateKeywordPopup,
				updateKeywordPopup,
				viewChangeKeywordParentPopup,
				changeKeywordParentPopup,
				keywordChooser,
				keywordChooserHierarchy,
				viewAssetInPopup,
				viewConditionsPopup,
				viewImageConditionsPopup,
				viewVideoConditionsPopup,
				viewFileConditionsPopup,
				viewCommercialConditionsPopup,
				viewUploadConditionsPopup,
				viewSearchHelp,
				viewHowDoI,
				viewCrop,
				playMedia,
				downloadDeferred,
				savedSearchRss.xml,
				searchRss,
				viewLogin,
				login,
				loginWithToken,
				ssoAuthenticate,
				viewSSOLogin,
				ssoLogin,
				ssoSessionCheck,
				ssoHTTPRequestToken,
				ssoCreateSession,
				viewSearchBuilderAttributeValue,
				viewAttributeValue,
				addAssetBox,
				clearAssetBox,
				browseExplorerItems
			</param-value>
			<description>
				This is the list of actions that are not stored in order that 
				they can be returned to after the assetbox or language has been switched. It should 
				contain (amongst other urls) any actions that are used in popups or new windows.</description>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>downloadServlet</servlet-name>
		<servlet-class>
			com.bright.assetbank.application.servlet.FileDownloadServlet
		</servlet-class>
	</servlet>

	<!-- xml transformation servlets -->
	<servlet>
		<servlet-name>transformLastSearch</servlet-name>
		<servlet-class>
			com.bright.assetbank.search.servlet.TransformLastSearchServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>transformLastBrowse</servlet-name>
		<servlet-class>
			com.bright.assetbank.category.servlet.TransformLastBrowseServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>transformAssetbox</servlet-name>
		<servlet-class>
			com.bright.assetbank.assetbox.servlet.TransformAssetboxServlet
		</servlet-class>
	</servlet>
	
	<!-- file upload servlet -->
	<servlet>
		<servlet-name>uploadServlet</servlet-name>
		<servlet-class>
			com.bright.assetbank.application.servlet.BulkUploadServlet
		</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>displayServlet</servlet-name>
		<servlet-class>
			com.bright.assetbank.application.servlet.FileDisplayServlet
		</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>assetFileServlet</servlet-name>
		<servlet-class>
			com.bright.assetbank.application.servlet.RelatedAssetFileServlet
		</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>forbiddenServlet</servlet-name>
		<servlet-class>
			com.bright.framework.common.servlet.ForbiddenRequestServlet
		</servlet-class>
	</servlet>
	
	<!-- api servlets -->
    <servlet>
        <servlet-name>jersey</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.bright.assetbank.restapi.resources</param-value>
        </init-param>
    </servlet>

	<servlet>
		<servlet-name>apiSelectAssetServlet</servlet-name>
		<display-name>API: Select Asset Servlet</display-name>
		<servlet-class>
			com.bright.assetbank.api.servlet.SelectAssetServlet
		</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>apiRemoteDownloadAssetServlet</servlet-name>
		<display-name>API: Download Asset Servlet</display-name>
		<servlet-class>
			com.bright.assetbank.api.servlet.RemoteDownloadServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>apiSearchServlet</servlet-name>
		<display-name>API: Search Servlet</display-name>
		<servlet-class>
			com.bright.assetbank.api.servlet.SearchServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>apiCheckoutAssetsServlet</servlet-name>
		<display-name>API: Checkout Assets Servlet</display-name>
		<servlet-class>
			com.bright.assetbank.api.servlet.CheckoutAssetsServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>apiReadWriteAssetsServlet</servlet-name>
		<display-name>API: Read/Write Assets Servlet</display-name>
		<servlet-class>
			com.bright.assetbank.api.servlet.ReadWriteAssetsServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>apiEditorDependanciesServlet</servlet-name>
		<display-name>API: Editor Dependancies Servlet</display-name>
		<servlet-class>
			com.bright.assetbank.api.servlet.EditorDependanciesServlet
		</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>OpenGisCswRestServlet</servlet-name>
		<display-name>OpenGis CSW API</display-name>
		<servlet-class>
			com.bright.assetbank.opengis.servlet.OpenGisCswRestServlet
		</servlet-class>
	</servlet>
	

	<!-- axis servlets -->
	<servlet>
		<servlet-name>AxisServlet</servlet-name>
		<display-name>Apache-Axis Servlet</display-name>
		<servlet-class>
			org.apache.axis.transport.http.AxisServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<display-name>Axis Admin Servlet</display-name>
		<servlet-class>
			org.apache.axis.transport.http.AdminServlet
		</servlet-class>
		<load-on-startup>100</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>SOAPMonitorService</servlet-name>
		<display-name>SOAPMonitorService</display-name>
		<servlet-class>
			org.apache.axis.monitor.SOAPMonitorService
		</servlet-class>
		<init-param>
			<param-name>SOAPMonitorPort</param-name>
			<param-value>5001</param-value>
		</init-param>
		<load-on-startup>100</load-on-startup>
	</servlet>

	<servlet>
        <servlet-name>SimpleCaptchaServlet</servlet-name>
        <servlet-class>nl.captcha.servlet.SimpleCaptchaServlet</servlet-class>
        <init-param>
            <param-name>width</param-name>
            <param-value>250</param-value>
        </init-param>
        <init-param>
            <param-name>height</param-name>
            <param-value>75</param-value>
        </init-param>
    </servlet>

	
	<servlet-mapping>
		<servlet-name>application</servlet-name>
		<url-pattern>/action/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>transformLastSearch</servlet-name>
		<url-pattern>/servlet/transformLastSearch</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>transformLastBrowse</servlet-name>
		<url-pattern>/servlet/transformLastBrowse</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>transformAssetbox</servlet-name>
		<url-pattern>/servlet/transformAssetbox</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>downloadServlet</servlet-name>
		<url-pattern>/servlet/download</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>uploadServlet</servlet-name>
		<url-pattern>/servlet/upload</url-pattern>
	</servlet-mapping>
		
	<servlet-mapping>
		<servlet-name>displayServlet</servlet-name>
		<url-pattern>/servlet/display/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>displayServlet</servlet-name>
		<url-pattern>/servlet/display.jpg</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>forbiddenServlet</servlet-name>
		<url-pattern>/servlet/forbidden/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>assetFileServlet</servlet-name>
		<url-pattern>/assetfile/*</url-pattern>
	</servlet-mapping>

    <servlet-mapping>
    	<servlet-name>jersey</servlet-name>
    	<url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>apiRemoteDownloadAssetServlet</servlet-name>
		<url-pattern>/api/remoteDownloadAsset</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>apiSelectAssetServlet</servlet-name>
		<url-pattern>/api/selectAsset</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>apiSearchServlet</servlet-name>
		<url-pattern>/api/search</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>apiCheckoutAssetsServlet</servlet-name>
		<url-pattern>/api/checkoutAssets</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>apiReadWriteAssetsServlet</servlet-name>
		<url-pattern>/api/readWriteAssets</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>apiEditorDependanciesServlet</servlet-name>
		<url-pattern>/api/editorDependancies</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>OpenGisCswRestServlet</servlet-name>
		<url-pattern>/OpenGisCsw</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/servlet/AxisServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>*.jws</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SOAPMonitorService</servlet-name>
		<url-pattern>/SOAPMonitor</url-pattern>
	</servlet-mapping>

	<!-- axis admin servlet -->
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>

	<servlet-mapping>
        <servlet-name>SimpleCaptchaServlet</servlet-name>
        <url-pattern>/captchaImg</url-pattern>
    </servlet-mapping>

	<session-config>
		<session-timeout>45</session-timeout>
	</session-config>
	
	<mime-mapping>
		<extension>wsdl</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>

	<mime-mapping>
		<extension>xsd</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>
	
	<welcome-file-list>
		<welcome-file>forward.jsp</welcome-file>
	</welcome-file-list>

	<error-page>
        <error-code>500</error-code>
        <location>/jsp/standard/en/error/general_error.jsp</location>
    </error-page>

	<taglib>
		<taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-html.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-form.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-form.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-template.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-template.tld</taglib-location>
	</taglib>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Asset Files</web-resource-name>
			<url-pattern>/files/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Asset Files</realm-name>
	</login-config>

	<security-role>
		<role-name>admin</role-name>
	</security-role>
	
</web-app>
