/* ======================================================================================== */
/* P R I N T   S T Y L E S H E E T                                                          */
/* Used when printing report pages										                             */
/* ======================================================================================== */


div.pageBreak {
	page-break-after: always;
	border:0;
	visibility:hidden;
	height:1px !important;
	margin:0;
}
.printHide {
	display:none;
}
.printOnly {
	display:block !important;
}
*+html .printOnlyIE67 {
	display:block !important;
}
* html .printOnlyIE67 {
	display:block !important;
}
div.pageWrapper { 
   padding:0px;
   width:100%;
   height:100%;
   max-width:100%;
   min-width:100%;
   display: block;
   }

#mainCol {                    	/* wrapper div for main content column */
   width: 100%;  
   float: none; 
   margin-left: 0px;
   }

#content {                    	
   margin-left:0px; 				
	width: 100%;
	float:none;
   }

/* Hide unnecessary page elements */	
#navCol, #topStrip, div.headShadow, #logo, #hLinks, #footer { display:none;}
/* h1 { display:none;}	 */				
/* div.head { display:none;}	 */

/* Browse and search results ----------------------------------------------------- */
div.searchResultSorting, form#numResultsForm, #browsePage div.adminTabs, div.pager {
	display: none;
}
ul.lightbox {
	float:none;
	display:block;
}
/* in IE6 and IE7 print out the assets in one column due to print bug that cuts off floated elements */
*+html ul.lightbox li{
	float:none !important;
}
* html ul.lightbox li {
	float:none !important;
}
#resultsPage div.foot {
	clear:both;
}

/* Compare assets / contact sheet ----------------------------------------------------- */
#controlPanel, #compare h1 {
	display: none;
}



/* #compare div.compare {
	width: 50%;
	margin:0;
} */

